{{>nav}}
<div class="container">
    <div class="row">
        <form action="/login" method="post">
            <div class="col col-sm-6 col-md-4 input-group input-group-lg">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input class="form-control" type="email" name="email" value="test@example.com"placeholder="Email address" spellcheck="false">
            </div>
            <div class="col col-sm-6 col-md-4 input-group input-group-lg">
                <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span></span>
                <input class="form-control" type="password" name="password" value="12345678" minlength="8" maxlength="72" required aria-required="true" placeholder="Password">
            </div><br>
            <button type="submit" class="btn">Login</button>
        </form>
        {{#if message}}
        <br>
        <div class="col-sm-2 text-center" id="login-fail-alert"><strong>{{message}}</strong></div>
        <script>
            $(document).ready(function() {
                $("#login-fail-alert").fadeTo(4000, 500).slideUp(500, function() {
                    $("#login-fail-alert").slideUp(500);
                });
            });

        </script>
        {{/if}}
    </div>
</div>
